#about {

}

.image-grid img {
	display: inline-block;
	width: 50%;
	margin: 0;
}

.about-text {
	background-color: $color3;
	padding: 35px 0;

	a {
		color: white;
	}

	h3, p {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
}

@media (min-width: 700px) {
	.image-grid {
		width: 25%;
		img {
			display: block;
			width: 100%;
			margin: 0;
		}
	}

	.grid_1, .about-text {
		display: inline-block;
		float: left;
	}

	.grid_2 {
		float: right;
	}

	.about-text {
		width: 50%;
		margin: 0;
	}
}