header {
	padding: 80px 0 20px;
	background-color: $color2;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.5)
    ),url("../images/david-slc.jpg");
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	color: white;

	.intro-text {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-shadow: 1px 1px 3px black;
		margin-top: 100px;
		margin-bottom: 20px;
		@media screen and (min-width: 768px) {
			margin-top: 400px;
		}
	}
}