.work-sample {
	text-align: center;
}

.mac-wrapper {
	width: 400px;
	height: 300px;
	background-image: url("../images/mac-computer-monitor.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center top;
}

.mac-wrapper>div {
	@include backgroundImage(400px, 190px, 70%, no-repeat, center 31px);
}

#seatswap {
		background-image: url('../images/seatswap-screenshot.jpg');
	}