#work {
}

.work-sample {
	text-align: center;
	&:hover {
		background-color: $color2;
	}

	a {
		text-decoration: none;
		color: #000;
		&:hover {
			color: $color4;
		}
	}
}

.mac-wrapper {
	@include backgroundImage($height: 300px, $size:80%, $position:center top);
	background-image: url("../images/mac-computer-monitor.png");
}

.mac-wrapper>div {
	@include backgroundImage(400px, 190px, 70%, no-repeat, center 31px);
}

#seatswap {
		background-image: url('../images/seatswap-screenshot.jpg');
	}

#younggunnerfilms {
	background-image: url("../images/younggunnerfilms-screenshot.png")
}

#youarethewayout {
	background-image: url("../images/youarethewayout-screenshot.jpg")
}